*{
  margin: 5px;
  box-sizing: border-box;
}
body{
  background: black;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
}
#main{
  display: flex;
  flex: 1;
}
header{
  background: #578FCA;
  padding: 2em 0;
}
main{
  background: #7886C7;
  flex: 5 5 150;
}
#left{
  background: #A9B5DF;
  padding: 2em 0;
  flex: 1 1 100px;
}
#right{
  background: #143D60;
  padding: 2em 0;
  flex: 1 1 100px;
}
footer{
  background:#2D336B;
  padding: 2em 0;
}
